body{
    text-align: center;
}
h1 {
    color: white;
    background: green;
    display: flex;
    justify-content: center;
}
ul {
    text-align: center;
    color: orange
}
input {
    border: solid green 4px;
}
button {
    border: solid green 4px;
    color: green;
}